@media only screen and (min-width: 350px) {
    .reactor-img {
        width: 2rem;
    }
}

@media only screen and (min-width: 480px) {
    .reactor-img {
        width: 2.5rem;
    }
}
@media only screen and (min-width: 1280px) {
    .reactor-img {
        width: 1.4rem;
    }
}

@media only screen and (min-width: 1366px) {
    .reactor-img {
        width: 1.5rem;
    }
}

@media only screen and (min-width: 1536px) {
    .reactor-img {
        width: 1.7rem;
    }
}

@media only screen and (min-width: 1920px) {
    .reactor-img {
        width: 2.1rem;
    }
}